################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlatLine/bin/Debug/net8.0/appsettings.json
