################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
appsettings.json
appsettings.*.json
/FlatLine/obj/Release/net8.0/FlatLine.AssemblyInfoInputs.cache
/FlatLine/appsettings.json
