@{
    ViewData["Title"] = "Contact";
}
<link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
<h1>Ocena za kurseve</h1>
<div class="row">
    <form id="ratingForm">
        <div class="form-group">
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <br />
        <div class="rating">
            <label>
                <input type="radio" name="rating" value="1"> 1
            </label>
            <label>
                <input type="radio" name="rating" value="2"> 2
            </label>
            <label>
                <input type="radio" name="rating" value="3"> 3
            </label>
            <label>
                <input type="radio" name="rating" value="4"> 4
            </label>
            <label>
                <input type="radio" name="rating" value="5"> 5
            </label>
        </div>
        <button type="submit" id="btn" style="border: 2px solid #0a5025;">Submit</button>
        <p class="success">Thank you for your feedback!</p>
    </form>

</div>

