@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

<section class="hero">
    <div class="hero-content">
        <h1>Uči, razvijaj se i osvoji nove veštine</h1>
        <p style="text-align:left;">
            Pronađi kurseve koji odgovaraju tvojoj strasti i potrebama. Nauči
            nešto novo, unapredi svoje veštine i pripremi se za budućnost.
        </p>
    </div>
    <div class="hero-image">
        <img src="~/Learning-amico.png" alt="Learning illustration" />
    </div>
</section>