html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #6df490;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-family: Montserrat;
    height: 70vh;
    background-image: url('your-image.jpg'); /* Background image */
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Parallax effect */
}

.hero-content {
    max-width: 500px;
    text-align: left;
}

    .hero-content h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .hero-content p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

.hero-image img {
    width: 500px;
}


button {
    font-family: Montserrat;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #0a5025;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #6df490;
    transition: 0.5s ease;
    user-select: none;
}

#btn:hover,
:focus {
    font-family: Montserrat;
    color: #ffffff;
    background: #0a5025;
    border: 1px solid #0a5025;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #0a5025, 0 0 20px #0a5025, 0 0 50px #0a5025, 0 0 100px #0a5025;
}

button1 {
    font-family: Montserrat;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #0a5025;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 2px solid #0a5025;
    transition: 0.5s ease;
    user-select: none;
    text-align: center;
}

#btn1:hover,
:focus {
    font-family: Montserrat;
    color: #ffffff;
    background: #0a5025;
    border: 2px solid #0a5025;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #0a5025, 0 0 20px #0a5025, 0 0 50px #0a5025, 0 0 100px #0a5025;
}

.nav-link1 {
    display: block;
    padding: 0.8rem 0rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-family:Montserrat;
    font-weight:900;
    margin-right:10px;
}

.form-control {
    font-family: Montserrat;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    color: #0a5025;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 2.5px solid #0a5025;
    transition: 0.5s ease;
    user-select: none;
    text-align: center;
}

    .form-control:focus {
        font-family: Montserrat;
        background-color: transparent;
        text-transform: none;
        border: 3px solid #0a5025;
        transition: 0.5s ease;
        outline: none;
        box-shadow: none;
    }


p{
    text-align:center;
    font-family:Montserrat;
    font-size:14px;
}
a {
    font-family: Montserrat;
    color: #0a5025;
    text-decoration: none;
}
    a:hover {
        color: #0a5025;
        text-shadow: #0a5025 1px 0 10px;
    }


@media (max-width: 798px) {
    .centriranje {
        display: none;
    }
}